<div class="driver-page">
  <div class="filter-container">
    <div class="search-container">
      <input type="text" placeholder="Search by name, mobile or car number..." [(ngModel)]="searchTerm"
        (input)="applyFilters()" />
    </div>
    <div class="filter">
      <label>From Date:</label>
      <input type="date" [(ngModel)]="fromDate" (change)="applyFilters()" />
    </div>

    <div class="filter">
      <label>To Date:</label>
      <input type="date" [(ngModel)]="toDate" (change)="applyFilters()" />
    </div>

    <div class="filter">
      <label>Total Entries:</label>
      <select [(ngModel)]="entryFilter" (change)="applyFilters()">
        <option value="">All</option>
        <option *ngFor="let range of entryRanges" [value]="range">
          {{ range }}
        </option>
      </select>
    </div>
  </div>
  <!-- 🔥 NEW BRANCH FILTER -->
  <div class="branch-filter">
    <div class="filter">
      <label>Branch:</label>
      <select [(ngModel)]="branchFilter" (change)="applyBranchFilter()">
        <option value="">All Branch</option>
        <option *ngFor="let b of branches" [value]="b">
          {{ b }}
        </option>
      </select>
    </div>

    <div class="filter">
      <label>Entry From Date:</label>
      <input type="date" [(ngModel)]="entryFromDate" (change)="applyBranchFilter()" />
    </div>

    <div class="filter">
      <label>Entry To Date:</label>
      <input type="date" [(ngModel)]="entryToDate" (change)="applyBranchFilter()" />
    </div>


  </div>

  <div class="driver-table">
    <table>
      <thead>
        <tr>
          <!-- <th>Sr No</th> -->
          <th>SR Number</th>
          <th>Name</th>
          <th>Mobile</th>
          <!-- <th>Car Number</th> -->
          <!-- <th>Created Date</th> -->
          <th>Location</th>
          <th>Branch Entries</th>
          <th>Total Entries</th>
          <th>Whatsapp</th>
          <th>Text</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of filteredDrivers; let i = index">
          <!-- <td data-label="Sr No">{{ i + 1 }}</td> -->
          <td data-label="SR Number">{{ d.srNumber }}</td>
          <td data-label="Name">{{ d.name }}</td>
          <td data-label="Mobile">{{ d.mobile }}</td>
          <!-- <td data-label="Created Date">{{ d.createdAt | date: 'dd-MM-yyyy' }}</td> -->
          <td data-label="Location">{{ d.location || '—' }}</td>
          <td data-label="Branch Entries">{{ d.branchEntryCount || 0 }}</td>
          <td data-label="Total Entries">{{ d.totalEntries || 0 }}</td>
          <td data-label="Whatsapp">
            <button (click)="sendWhatsAppReminder(d)">
              <i class="fa-brands fa-whatsapp"></i> Send
            </button>
          </td>
          <td data-label="Text"><i class="fa-solid fa-envelope-open-text"></i></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>